@font-face {
  font-family: 'JetFont';
  font-style: normal;
  font-weight: normal;
  src: url('./jt-font.woff2') format('truetype');
}

.md-view {
  padding: 10px;

  h1,
  h2 {
    padding: 2px 10px;
    margin-bottom: 4px;
  }
  code {
    font-family: 'JetFont';
  }
}